# Foldery buildów
bin/
obj/

# Pliki użytkownika i konfiguracje Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Pliki tymczasowe systemowe
Thumbs.db
Desktop.ini

# Pliki nuget / paczki
*.nupkg
*.snupkg
packages/
*.nuspec

# Konfiguracja VS Code
.vscode/
